
/*CSS GERAL*/
body, html{
  overflow-x: hidden;
}

*{
    margin:0;
    padding:0;
}

body{
    position: relative;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    
}

/*------navbar------*/
nav{
    z-index: 2;
    display: flex;
    position: fixed;
    top:0;

    width:95vw;
    height: 3.375rem;
    padding: 0rem 2.4375rem;

    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
    background: rgba(46, 49, 146, 0.30);

    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
}

.container{
    width: 28vw;
}

p.active{
    display: inline;
    color: #2E3192;
}

.item{
    text-decoration: none;
    color: #ffff;

    padding:1.1vw  2vw;
    position: relative;
}

a.item:hover{
    color: #2E3192;
    background-color: #ffff;
}

/*---main index------*/

.grelha{
width:100vw;
margin-left: 1vw;
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
   
  }

  .gutter,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding: 0 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  /*border: 1px solid red;*/
  
}
  .gutter {
    -ms-flex-preferred-size: 5vw;
    flex-basis: 5vw;
    max-width: 5vw;
    
  }
  
  .col-lg-1 {
    -ms-flex-preferred-size: 7.5vw;
    flex-basis: 7.5vw;
    max-width: 7.5vw;
    
  }
  
  .col-lg-2 {
    -ms-flex-preferred-size: 15vw;
    flex-basis: 15vw;
    max-width: 15vw;
  }
  
  .col-lg-3 {
    -ms-flex-preferred-size: 22.5vw;
    flex-basis: 22.5vw;
    max-width: 22.5vw;
  }
  
  .col-lg-4 {
    -ms-flex-preferred-size: 30vw;
    flex-basis: 30vw;
    max-width: 30vw;
  }
  
  .col-lg-5 {
    -ms-flex-preferred-size: 37.5vw;
    flex-basis: 37.5vw;
    max-width: 37.5vw;
  }
  
  .col-lg-6 {

    -ms-flex-preferred-size: 45vw;
    flex-basis: 45vw;
    max-width: 45vw;
  }
  
  .col-lg-7 {
    -ms-flex-preferred-size:52.5vw;
    flex-basis: 52.5vw;
    max-width: 52.5vw;
  }
  
  .col-lg-8 {
    -ms-flex-preferred-size: 60vw;
    flex-basis: 60vw;
    max-width: 60vw;
  }
  
  .col-lg-9 {
    -ms-flex-preferred-size: 67.5vw;
    flex-basis: 67.5vw;
    max-width: 67.5vw;
  }
  
  .col-lg-10 {
    -ms-flex-preferred-size: 75vw;
    flex-basis: 75vw;
    max-width: 75vw;
  }
  
  .col-lg-11 {
    -ms-flex-preferred-size: 82.5vw;
    flex-basis: 82.5vw;
    max-width: 82.5vw;
  }

  .col-lg-12 {
    -ms-flex-preferred-size:90vw;
    flex-basis: 90vw;
    max-width: 90vw;
  }


  /*-----------main index-----------*/

  .imgindex{
    width: 90rem;
    height: auto;
}

  .titulo{
    color: #FFF;
    
    font-size: 6vw;
    font-weight: 400;
  }

  .caixa{
    position: relative;
    top: 70vh;
    display: flex;

    width: auto;
    height: auto;

    flex-direction: column;
    align-items: flex-start;

  }

  .texto{
    font-size: 1.3vw;

    color: #FFFF;
    margin-top: 2vh;

    
  }