
/*CSS GERAL*/


*{
    margin:0;
    padding:0;
}

body{
    font-family: Montserrat;
    font-style: normal;
    
}

/*------navbar------*/
nav{
    display: flex;

    width:95vw;
    height: 3.375rem;
    padding: 0rem 2.4375rem;

    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
    background: rgba(46, 49, 146, 0.30);

    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
}

.container{
    
}

.homepage{
    color: #2E3192;
}

a{
    border: 1px solid red; 
    width: 10vw;
    height: 2vh;
 
}